.navbar-brand {
	margin-left: 55px;
	font-size: 25px;
}

.col-border {
	border: #cdcdcd medium solid;
}

.overview-display {
	font-size: 20px;
}

#signup {
	margin-top: 8px;
}

.short-info {
	height: 380px;
}

rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;   
}

text.mono {
	font-size: 9pt;
	font-family: Consolas, courier;
	fill: #aaa;
}

text.axis-workweek {
	fill: #000;
}

text.axis-worktime {
	fill: #000;
}